/* Load fonts */
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,200");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
body,
html {
  height: 100%;
  margin: 0;
  width: 100%;
}
body {
  background-color: #f44336;
  color: #fff;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
}
#wrapper {
  left: 50%;
  max-width: 500px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
}
#wrapper h1 {
  font-size: 3.2em;
  font-weight: 200;
  margin: 0 0 0.65em;
  text-align: center;
  text-shadow: 1px 2px 3px rgba(0,0,0,0.65);
}
#wrapper button {
  background-color: #ff8a80;
  border: none;
  color: #fff;
  cursor: pointer;
  display: block;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 17px;
  line-height: 30px;
  margin: 0 auto;
  max-width: 180px;
  outline: none;
  -webkit-transition: background-color 375ms;
  transition: background-color 375ms;
  width: 100%;
}
.progress-bar {
  margin: 0 auto 25px;
  max-width: 380px;
  width: 100%;
}
.progress-bar .number {
  font-size: 15px;
  margin-bottom: 5px;
  text-align: center;
}
.progress-bar .rail {
  border: 1px solid #ff8a80;
  border-radius: 3px;
  height: 30px;
  padding: 3px;
  width: 100%;
}
.progress-bar .bar {
  background-color: #ff8a80;
  border-radius: 3px;
  height: 100%;
  -webkit-transition: width 500ms ease-in-out;
  transition: width 500ms ease-in-out;
  width: 0;
}
